* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 98%;
}

body {
  padding: 20px;
}

body h1 {
  margin-top: 70px;
}

.centerElements {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

input {
  display: none;
  margin-top: 3px;
  border: 1px solid gray;
  border-radius: 4px;
  height: 50px;
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

input:focus {
  outline: none;
  box-shadow: 1px 1px 5px 1px lightgray;
}

h1, h3 {
  text-align: center;
}

h3 {
  margin-top: 50px;
}

#inputAndButton {
  display: flex;
  align-items: center;
}

button {
  height: 75px;
  width: 120px;
  background-color: white;
  color: #000000;
  border-radius: 4px;
  border-style: solid;
  border: 1px solid gray;
  font-size: 16px;
}

button:hover {
  border-radius: 4px;
  box-shadow: 1px 1px 4px 4px lightgray;
}

button:focus {
  border-color: blue;
  border-radius: 4px;
  outline: none;
  box-shadow: 1px 1px 5px 1px lightgray;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 130px;
  width: 550px;
  background-color: #f0f0f0;
  border: 1px solid lightgray;
  margin-left: auto;
  margin-right: auto;
}

#submitButton {
  display: none;
  height: 50px;
  width: 100px;
  margin-left: 20px;
}

#enter {
  margin-right: 35px;
}

#clear {
  margin-left: 35px;
}

#name-list {
  display: none;
  list-style-type: square;
  font-size: 20px;
}

.listItem {
  margin-bottom: 12px;
  font-weight: lighter;
  padding-left: 10px;
}

@media screen and (max-width: 680px) {
  input {
    max-width: 40%;
  }

  #inputAndButton {
    justify-content: center;
  }

}
